body {
  font-family: Arial;
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  color: green;
}

h2 {
  color: green;
}

h3 {
  color: green;
}

h4 {
  color: green;
}

.bold {
   font-weight: bold; 
}
