body {
  font-family: Arial;
  color: white;
  background-color: black;
}

p {
  text-align: center;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
  unlist
}

h3 {
  color: green;
  text-align: center;
}

h4 {
  color: green;
  text-align: center;
}

h5 {
  color: green;
  text-align: center;
}

h6 {
  color: green;
  text-align: center;
}
.bold {
   font-weight: bold; 
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  color: green;
}
